.dashboard-container{
    display: felx;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.dashboard-container .section{
    overflow: hidden;
    color: #F96161;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 137.5% */
    text-transform: uppercase;
    text-align: center;
}

.dashboard-container .dashboard{
    overflow: hidden;
    color: #008080;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 137.5% */
    text-transform: uppercase;
    width: 70%;
    padding-left: 1%;
    margin-right: auto;
}

.dashboard-container .date-time{
    width: 20%;
    margin-right: 2%;
}
.dashboard-container .card-set{
    display: flex;
    flex-wrap: wrap;
}

.row-2{
    display: flex;
    flex-wrap: wrap;
}

.inner-row-2{
    display: flex;
    flex-direction: column;
}

hr{
    height: 3px;
    background: #00665B;
}

