.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: rgba(1, 9, 34, 0.80);
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
    padding: 10px;
    position: sticky;
    top: 0;
}

.navbar--left {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 1px;
}

.navbar--right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar--menu>span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

.navbar--menu {
    display: none;
    position: absolute;
    right: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

img {
    height: 100%;
}

.navbar--sabhaLogo {
    border-radius: 50%;
    margin-left: 10px;
}

.navbar--title {
    margin-left: 20px;
    margin-right: auto;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px;
    /* 137.5% */
    text-transform: uppercase;
}

.navbar--buttons {
    display: flex;
    width: 134px;
    height: 40px;
    padding: 3px 42px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border-radius: 27px;
    border: 2px solid var(--White, #FAFBFF);
    color: #FFF;
    background-color: transparent;
    margin-left: 15px;
    margin-right: 15px;

    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
    /* 171.875% */
    text-transform: uppercase;

}

.navbar--home {
    background: #87CFD0;
    color: rgba(1, 9, 34, 0.80)
}

.navbar--employeeName {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27.5px;
    /* 152.778% */
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar--profilePhoto {
    border-radius: 50%;
    border: 2px solid var(--White, #FAFBFF);
}

@media (max-width: 600px) {
    .navbar--menu {
        display: flex;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar--right {
        display: none;
    }

    .navbar--down {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: black;
    }

    .navbar--buttons {
        width: 100%;
        margin: 0.2rem 0.5rem;
    }
}